* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    background: rgba(246, 244, 244, 0.912);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
:root {
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --Linear-gradient: (to right, ): hsl(249, 99%, 64%) to hsl(278, 94%, 30%); /*??????*/
    --Red: (input errors): hsl(0, 100%, 66%); /*????*/
}

.container {
    height: 90vh;
    width: 90%;
    background: white;
    border-radius: 10px;
    background-color: white;
}